/* nap cac thanh phan co ban cua tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset co ban cho toan bo trang web */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}